* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #F2CEE6;
  font-family: 'Courier New', Courier, monospace;
}
i {
  text-shadow: 2px 2px 8px darkblue;
  cursor: pointer;
  color: #fff;
}

#date {
  text-shadow: 2px 2px 8px darkblue;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.container {
  margin :20px auto;
  width: 300px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #B19FE6;
  background-color: #B19FE6;
}

header {
  background-image: url(header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clear {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 350px;
}

.item {
  list-style: none;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.text {
  margin: 8px;
}

.fa-check-circle, .fa-circle {
  font-size: 1.5rem;
}

.add-item {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 10px;
}

#input {
  width: 80%;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #fff;
}
::placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

.lineThrough {
  text-decoration: line-through;
}

/* -------  weather -------- */
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 8px darkblue;
  text-align: center;
}
.temperature-value {
  font-size: 30px;
}
.weather i {
  font-size:  3rem;
  margin-bottom: 10px;
}

.notification {
  background-color: blueviolet;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #ccadc2;
}

.weather-icon img {
  width: 50px;
}
